a.patreon-button {
    background-image: url(/assets/patreon-button.png);
    display: block;
    width: 217px;
    height: 51px;
    margin: auto;
}

a.paypal-button {
    background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png);
    display: block;
    width: 200px;
    height: 51px;
    margin: auto;
}
