<div class="content-area">
    <h1>Credits</h1>
    <h3>Main Developer</h3>
    <div class="row">
        <div class="clr-col-xs-12 clr-col-sm-3">
            <img src="https://cdn.discordapp.com/avatars/169507532316999680/da6940223a3bd1181ea3a3db50773f27.png">
        </div>
        <div class="clr-col-xs-12 clr-col-sm-9">
            <h2>Garud</h2>
        </div>
    </div>
    <h3>Open Source Contributers</h3>
    <div class="row" *ngFor="let contributer of contributers">
        <div class="clr-col-xs-12 clr-col-sm-3">
            <img [src]="'https://cdn.discordapp.com/avatars/'+ contributer?.id + '/' + contributer?.avatar + '.png'">
        </div>
        <div class="clr-col-xs-9 clr-col-sm-6">
            <h2>{{contributer.username}}</h2>
        </div>
        <div class="clr-col-xs-3 clr-col-sm-3">
            <h2>{{contributer.os_contribution}} Commits</h2>
        </div>
    </div>
    <h3>Benefactors</h3>
    <div class="row" *ngFor="let patron of patrons">
        <div class="clr-col-xs-12 clr-col-sm-3">
            <img [src]="'https://cdn.discordapp.com/avatars/'+ patron?.id + '/' + patron?.avatar + '.png'">
        </div>
        <div class="clr-col-xs-12 clr-col-sm-9">
            <h2>{{patron.username}}</h2>
        </div>
    </div>
</div>
