<div class="content-area">
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Updated Faction
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Faction could not be updated due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{factionUnderEdit?.name}}</h1>
    <h3>({{factionUnderEdit?.name_lower}})</h3>
    <form clrForm>
        <h4>Faction Data</h4>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Ids</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>EDDB ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="clr-input" id="id" name="id" type="text"
                                    [(ngModel)]="factionUnderEdit && factionUnderEdit._id">
                            </td>
                            <td>
                                <input class="clr-input" id="eddb" name="eddb" type="number"
                                    [(ngModel)]="factionUnderEdit && factionUnderEdit.eddb_id">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clr-row">
            <clr-select-container class="clr-col-sm-12 clr-col-md-6">
                <label class="clr-col-12 clr-col-md-4">Government</label>
                <select class="clr-col-12 clr-col-md-8" clrSelect id="government" name="government"
                    [(ngModel)]="factionUnderEdit && factionUnderEdit.government">
                    <option *ngFor="let government of governments" [value]="government.key">{{government.value}}
                    </option>
                </select>
            </clr-select-container>
            <clr-select-container class="clr-col-sm-12 clr-col-md-6">
                <label class="clr-col-12 clr-col-md-4">Allegiance</label>
                <select class="clr-col-12 clr-col-md-8" clrSelect id="allegiance" name="allegiance"
                    [(ngModel)]="factionUnderEdit && factionUnderEdit.allegiance">
                    <option *ngFor="let allegiance of allegiances" [value]="allegiance.key">{{allegiance.value}}
                    </option>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-row">
            <clr-input-container class="clr-col-sm-12 clr-col-md-6">
                <label class="clr-col-12 clr-col-md-4">Updated At</label>
                <input class="clr-col-12 clr-col-md-8" clrInput id="updated_at" name="updated_at" type="string"
                    [(ngModel)]="factionUnderEdit && factionUnderEdit.updated_at">
            </clr-input-container>
        </div>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Systems in Factions</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table table-compact">
                    <thead>
                        <tr>
                            <th>System ID</th>
                            <th>System Name</th>
                            <th>System Name Lower</th>
                            <th>State</th>
                            <th>Happiness</th>
                            <th>Influence</th>
                            <th>Active States</th>
                            <th>Pending States</th>
                            <th>Recovering States</th>
                            <th>Updated At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let system of factionUnderEdit?.faction_presence">
                            <td>{{system.system_id}}</td>
                            <td><a routerLink="/admin/system/{{system.system_id}}">{{system.system_name}}</a></td>
                            <td>{{system.system_name_lower}}</td>
                            <td>{{system.state}}</td>
                            <td>{{system.happiness}}</td>
                            <td>{{system.influence}}</td>
                            <td>
                                <span class="label label-info"
                                    *ngFor="let active of system.active_states">{{active.state}}</span>
                            </td>
                            <td>
                                <span class="label" *ngFor="let pending of system.pending_states"
                                    [ngClass]="{'label-info': pending.trend === 0,'label-success': pending.trend > 0,'label-danger':pending.trend < 0}">{{pending.state}}</span>
                            </td>
                            <td>
                                <span class="label" *ngFor="let recovering of system.recovering_states"
                                    [ngClass]="{'label-info': recovering.trend === 0,'label-success': recovering.trend > 0,'label-danger':recovering.trend < 0}">{{recovering.state}}</span>
                            </td>
                            <td>{{system.updated_at}}</td>
                            <td>
                                <button (click)="removeSystem(system.system_name_lower)"
                                    class="btn btn-sm btn-danger">Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input class="clr-input" id="system_name" name="system_name" placeholder="Add a system"
                                    type="text" [(ngModel)]="systemAdd.system_name">
                            </td>
                            <td>{{systemAdd?.system_name.toLowerCase()}}</td>
                            <td>
                                <div class="clr-select-wrapper">
                                    <select class="clrSelect" id="state" name="state" [(ngModel)]="systemAdd.state">
                                        <option *ngFor="let state of states" [value]="state.key">
                                            {{state.value}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="clr-select-wrapper">
                                    <select class="clrSelect" id="happiness" name="happiness"
                                        [(ngModel)]="systemAdd.happiness">
                                        <option *ngFor="let happiness of happinesses" [value]="happiness.key">
                                            {{happiness.value}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td><input class="clr-input" id="systems" name="systems" placeholder="Add influence"
                                    type="number" [(ngModel)]="systemAdd"></td>
                            <td>
                                <button (click)="addSystem()" class="btn btn-sm btn-primary">Edit</button>
                            </td>
                            <td>
                                <button (click)="addSystem()" class="btn btn-sm btn-primary">Edit</button>
                            </td>
                            <td>
                                <button (click)="addSystem()" class="btn btn-sm btn-primary">Edit</button></td>
                            <td><input class="clr-input" id="systems" name="systems" placeholder="Add update time"
                                    type="text" [(ngModel)]="systemAdd.updated_at"></td>
                            <td>
                                <button (click)="addSystem()" class="btn btn-sm btn-success">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <button class="btn btn-success" (click)="save()">Save</button>
    <button class="btn btn-warning-outline" (click)="reset()">Reset</button>
    <button class="btn btn-warning" (click)="delete()">Delete</button>
    <clr-modal [(clrModalOpen)]="warningModal" [clrModalStaticBackdrop]="'true'">
        <h3 class="modal-title">{{warningTitle}}</h3>
        <div class="modal-body">
            <p>{{warningText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeWarningModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="warningConfirmed()">{{warningProceed}}</button>
        </div>
    </clr-modal>
    <h4>History</h4>
    <!-- <clr-datagrid (clrDgRefresh)="refreshHistory($event)" [clrDgLoading]="historyLoading"
        [(clrDgSelected)]="historySelected">
        <clr-dg-action-bar>
            <button type="button" class="btn btn-sm btn-success-outline" (click)="addHistoryRecord()">
                <clr-icon shape="plus"></clr-icon> Add Record
            </button>
            <button type="button" class="btn btn-sm btn-success" (click)="saveSelectedHistoryRecords()">
                <clr-icon shape="check"></clr-icon> Save Selected
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteSelectedHistoryRecords()">
                <clr-icon shape="trash"></clr-icon> Delete Selected
            </button>
        </clr-dg-action-bar>
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column>Government</clr-dg-column>
        <clr-dg-column>Allegiance</clr-dg-column>
        <clr-dg-column>Security</clr-dg-column>
        <clr-dg-column>State</clr-dg-column>
        <clr-dg-column>Population</clr-dg-column>
        <clr-dg-column>Updated At</clr-dg-column>
        <clr-dg-column>Updated By</clr-dg-column>
        <clr-dg-column>Controlling Faction</clr-dg-column>

        <clr-dg-placeholder>Unable to find any records!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let record of factionHistoryData" [clrDgItem]="record">
            <clr-dg-cell>{{record._id}}</clr-dg-cell>
            <clr-dg-cell>{{record.government}}</clr-dg-cell>
            <clr-dg-cell>{{record.allegiance}}</clr-dg-cell>
            <clr-dg-cell>{{record.security}}</clr-dg-cell>
            <clr-dg-cell>{{record.state}}</clr-dg-cell>
            <clr-dg-cell>{{record.population}}</clr-dg-cell>
            <clr-dg-cell>{{record.updated_at}}</clr-dg-cell>
            <clr-dg-cell>{{record.updated_by}}</clr-dg-cell>
            <clr-dg-cell>{{record.controlling_minor_faction}}</clr-dg-cell>
            <clr-dg-row-detail *clrIfExpanded>
                <div class="row full-width">
                    <div class="clr-col-12">
                        <table class="table table-compact">
                            <thead>
                                <tr>
                                    <th>Faction ID</th>
                                    <th>Faction Name</th>
                                    <th>Faction Name Lower</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let faction of record?.factions">
                                    <td>{{faction.faction_id}}</td>
                                    <td><a routerLink="/admin/factions/{{faction.faction_id}}">{{faction.name}}</a></td>
                                    <td>{{faction.name_lower}}</td>
                                    <td>
                                        <button (click)="removeFactionHistory(record._id, faction.name_lower)"
                                            class="btn btn-danger btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input class="clr-input" id="factions" name="factions"
                                            placeholder="Add a faction" type="text" [(ngModel)]="factionAdd">
                                    </td>
                                    <td>{{factionAdd.toLowerCase()}}</td>
                                    <td>
                                        <button (click)="addFactionHistory(record._id)"
                                            class="btn btn-success btn-sm">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clr-col-12">
                        <button class="btn btn-success-outline" (click)="editHistoryRecord(record._id)">Edit</button>
                        <button class="btn btn-success" (click)="saveHistoryRecord(record._id)">Save</button>
                        <button class="btn btn-warning-outline" (click)="resetHistoryRecord(record._id)">Reset</button>
                        <button class="btn btn-warning" (click)="deleteHistoryRecord(record._id)">Delete</button>
                    </div>
                </div>
            </clr-dg-row-detail>
        </clr-dg-row>

        <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{historyTotalRecords}} factions
            <clr-dg-pagination #pagination [clrDgTotalItems]="historyTotalRecords"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid> -->
</div>
