<div class="content-area">
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                {{successAlertText}}
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                {{failureAlertText}}
            </span>
        </div>
    </clr-alert>
    <h1>Overview</h1>
    <div class="card">
        <div class="card-header">
            User Overview
        </div>
        <div class="card-block">
            <div class="card-title">
                User Stats
            </div>
            <div class="card-text">
                Total Number of Users: {{userCount}}
                <br> Latest User: {{latestUser}}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Scripts
        </div>
        <div class="card-block">
            <div class="card-title">
                Script List
            </div>
            <div class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let script of scripts">
                            <td>{{script}}</td>
                            <td>
                                <button (click)="runScript(script)" class="btn btn-danger">Run Script</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
