<div class="normal-body">
    <h1 class="normal-text">The complete RESTful API for EDDB</h1>
    <md-card>
        <md-card-title>Access</md-card-title>
        <md-card-content>
            The API endpoints are access restricted. There are 2 users:
            <md-list>
                <md-list-item>admin</md-list-item>
                <md-list-item>guest</md-list-item>
            </md-list>
            Consumers must make a GET request at any endpoint using Basic HTTP authentication with username 
            <code>guest</code> and password <code>secret</code>.
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>Endpoints</md-card-title>
        <md-card-content>
            <h3>Bodies</h3>
            <md-list>
                <md-list-item><code>http://elitebgs.kodeblox.com/api/eddb/v1/bodies</code>*</md-list-item>
                <md-list-item><code>http://elitebgs.kodeblox.com/api/eddb/v1/bodies?&lt;params&gt;</code></md-list-item>
            </md-list>
            <h3>Bodies</h3>
            <md-list>
                <md-list-item><code>http://elitebgs.kodeblox.com/api/eddb/v1/bodies</code>*</md-list-item>
                <md-list-item><code>http://elitebgs.kodeblox.com/api/eddb/v1/bodies?&lt;params&gt;</code></md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>