<div class="content-area">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 push-md-6 push-lg-7">
            <img src="/assets/BGSv1.svg" alt="Elite BGS Logo" height="100%" width="100%" />
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 pull-md-6 pull-lg-5">
            <div class="header-block">
                <h1>Elite BGS</h1>
                <p>
                    A tool to track and manage the Background Simulation (BGS) of Elite Dangerous. Visualise influences and states using graphs
                    and monitor factions and systems. Forget spreadsheets!
                </p>
                <a class="btn btn-primary" href="/guide">Guide</a>
                <a class="btn btn-outline" href="https://www.paypal.me/SayakMukhopadhyay">Donate</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            For Commanders. By a Commander.
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="line-chart" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Graphs
                    </div>
                    <div class="card-text">
                        Visualise influnce in a dynamic graph that is automatically created and updated.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="display" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Monitor
                    </div>
                    <div class="card-text">
                        Monitor factions and systems in your dashboard.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="switch" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Pending and Recovering States
                    </div>
                    <div class="card-text">
                        Now you can even check the pending and recovering states of your faction and that too with the current trend.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="pencil" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Edit System Data
                    </div>
                    <div class="card-text">
                        Authorised users can even edit and update the data for a system. Perfect when you are 20000 LY away from home.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://github.com/SayakMukhopadhyay/elitebgs" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Github Repository
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Contribute to the project by creating a pull request or an issue.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://discord.gg/0uwCh6R62aQ0eeAX" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    EDCD Discord Server
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Reach me at the EDCD Discord server
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://discord.gg/KDWFwcY" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Official Elite_BGS Discord Server
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Reach me at the official Elite_BGS Discord server maintained by the community.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://discord.gg/YksSXke" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Elite BGS Discord Server
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Reach me at the Elite BGS Discord server
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
