.header-block h1 {
    line-height: 72px;
    font-size: 64px;
}

.header-block p {
    line-height: 36px;
    font-size: 18px;
}

.header-logo {
    display: flex;
}

.header-logo img {
    height: 80%;
    width: 80%;
    margin: auto;
}

.card-img img {
    width: 50%;
}

.self-logo {
    display: flex;
    flex-direction: column;
}

.self-logo img {
    height: 70%;
    width: 70%;
    margin: auto;
}

.self-logo h3 {
    margin: auto;
    margin-top: 12px;
}

.ampersand {
    text-align: center;
    font-size: 100px;
    line-height: 120px;
    margin: auto;
}

.feature-card .card-img {
    display: flex;
}

.feature-card .card-img clr-icon {
    margin: auto;
}

.feature-card .card-title {
    text-align: center;
}

.feature-card .card-text {
    text-align: center;
}

.contact-card .card-img {
    display: flex;
    flex-direction: column;
}

.contact-card .card-img img {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-card .card-header {
    text-align: center;
}

footer {
    background-color: #313131;
}

footer h4 {
    color: #fafafa;
    margin: 12px;
}

footer a {
    display: flex;
    flex-direction: column;
    color: #fafafa;
}

footer img {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .power img {
    margin: auto;
    width: 70%;
}

.notice {
    color: #fafafa;
}

.bugsnag img, .jetbrains img {
    margin: auto;
    width: 50%;
}

.affiliates img {
    display: block;
}
