<div class="content-area">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 push-sm-6 push-md-7">
            <img src="/assets/BGSv1.svg" alt="Elite BGS Logo" height="100%" width="100%" />
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 pull-sm-6 pull-md-5">
            <div class="header-block">
                <h1>Elite BGS</h1>
                <p>
                    A tool to track and manage the Background Simulation (BGS) of Elite Dangerous.
                </p>
                <p>
                    Contribute to the project at the
                    <a href="https://github.com/SayakMukhopadhyay/elitebgs">Github repository</a>
                </p>
            </div>
        </div>
    </div>
</div>
