<div class="content-area">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 push-md-6 push-lg-7 header-logo">
            <img src="/assets/BGSv1.svg" alt="Elite BGS Logo" />
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 pull-md-6 pull-lg-5">
            <div class="header-block">
                <h1>Elite BGS</h1>
                <p>
                    A tool to track and manage the Background Simulation (BGS) of Elite Dangerous. Visualise influences and states using graphs
                    and monitor factions and systems. Forget spreadsheets!
                </p>
                <a class="btn btn-primary" href="/guide">Guide</a>
                <a class="btn btn-outline" href="https://github.com/SayakMukhopadhyay/elitebgs">Source</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            For Commanders. By a Commander.
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="line-chart" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Graphs
                    </div>
                    <div class="card-text">
                        Visualise influnce in a dynamic graph that is automatically created and updated.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="display" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Monitor
                    </div>
                    <div class="card-text">
                        Monitor factions and systems in your dashboard.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="switch" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Pending and Recovering States
                    </div>
                    <div class="card-text">
                        Now you can even check the pending and recovering states of your faction and that too with the current trend.
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card-img">
                        <clr-icon shape="pencil" size="128"></clr-icon>
                    </div>
                    <div class="card-title">
                        Edit System Data
                    </div>
                    <div class="card-text">
                        Authorised users can even edit and update the data for a system. Perfect when you are 20000 LY away from home.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Reach me at</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://github.com/SayakMukhopadhyay" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Github Profile
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://discord.gg/0uwCh6R62aQ0eeAX" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    EDCD Discord Server
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://forums.frontier.co.uk/member.php/136073-Garud" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Frontier Forums
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="https://discord.gg/YksSXke" class="card clickable">
                <div class="card-img">
                    <img src="/assets/BGSv1.svg" alt="Github Logo" />
                </div>
                <div class="card-header">
                    Elite BGS Discord Server
                </div>
            </a>
        </div>
    </div>
    <h2>Brought to you By</h2>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="self-logo">
                <img src="/assets/BGSv1.svg" alt="Elite BGS Logo" />
                <h3>CMDR Garud</h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <h1>&</h1>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="self-logo">
                <img src="/assets/BGSv1.svg" alt="Elite BGS Logo" />
                <h3>CMDR Garud</h3>
            </div>
        </div>
    </div>
</div>
