<div class="content-area">
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Updated User
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                User could not be updated due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{userUnderEdit?.username}}#{{userUnderEdit?.discriminator}}</h1>
    <img [src]="'https://cdn.discordapp.com/avatars/' + userUnderEdit?.id + '/' + userUnderEdit?.avatar + '.png'" class="profile-icon">
    <form clrForm>
        <h4>Restricted Data</h4>
        <clr-input-container>
            <label>Record id</label>
            <input clrInput id="id" name="id" type="text" [(ngModel)]="userUnderEdit && userUnderEdit._id" disabled>
        </clr-input-container>
        <clr-input-container>
            <label>Discord id</label>
            <input clrInput id="discordid" name="discordid" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.id"
                disabled>
        </clr-input-container>
        <clr-input-container>
            <label>Discord Username</label>
            <input clrInput id="username" name="username" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.username"
                disabled>
        </clr-input-container>
        <clr-input-container>
            <label>Discord Discriminator</label>
            <input clrInput id="discriminator" name="discriminator" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.discriminator"
                disabled>
        </clr-input-container>
        <h4>Personalised Data</h4>
        <clr-input-container>
            <label>Access Level</label>
            <input clrInput id="access" name="access" type="number" min="0" max="2" [(ngModel)]="userUnderEdit && userUnderEdit.access">
        </clr-input-container>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Monitored Factions</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Factions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let faction of userUnderEdit?.factions">
                            <td>{{faction.name}}</td>
                            <td>
                                <button (click)="removeFaction(faction.name_lower)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clr-form-control clr-row">
                    <label class="clr-control-label">Add a Monitored Faction</label>
                    <div class="clr-control-container clr-col-12 clr-col-md-10">
                        <div class="clr-input-wrapper">
                            <input class="clr-input" id="factions" name="factions" type="text" [(ngModel)]="factionAdd">
                            <button (click)="addFaction()" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Monitored Systems</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Systems</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let system of userUnderEdit?.systems">
                            <td>{{system.name}}</td>
                            <td>
                                <button (click)="removeSystem(system.name_lower)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clr-form-control clr-row">
                    <label class="clr-control-label">Add a Monitored System</label>
                    <div class="clr-control-container clr-col-12 clr-col-md-10">
                        <div class="clr-input-wrapper">
                            <input class="clr-input" id="systems" name="systems" type="text" [(ngModel)]="systemAdd">
                            <button (click)="addSystem()" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Contribution Data</h4>
        <clr-input-container>
            <label>Commits Made</label>
            <input clrInput id="commits" name="commits" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.os_contribution">
        </clr-input-container>
        <clr-input-container>
            <label>Patronage</label>
            <input clrInput id="level" name="level" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.level">
            <input clrInput id="since" name="since" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.since">
        </clr-input-container>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Donations</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of userUnderEdit?.donation">
                            <td>{{donation._id}}</td>
                            <td>{{donation.amount}}</td>
                            <td>{{donation.date}}</td>
                            <td>
                                <button (click)="removeDonation(donation._id)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clr-form-control clr-row">
                    <label class="clr-control-label">Add a Donation</label>
                    <div class="clr-control-container clr-col-12 clr-col-md-10">
                        <div class="clr-input-wrapper">
                            <input class="clr-input" id="donation" name="donation" placeholder="Amount in USD" type="number" [(ngModel)]="donationAmount">
                            <input class="clr-input" id="date" name="date" placeholder="Date" type="text" [(ngModel)]="donationDate">
                            <button (click)="addDonation()" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button class="btn btn-success" (click)="save()">Save</button>
    <button class="btn btn-warning-outline" (click)="reset()">Reset</button>
    <button class="btn btn-warning" (click)="delete()">Delete</button>
    <clr-modal [(clrModalOpen)]="warningModal" [clrModalStaticBackdrop]="'true'">
        <h3 class="modal-title">{{warningTitle}}</h3>
        <div class="modal-body">
            <p>{{warningText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeWarningModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="warningConfirmed()">{{warningProceed}}</button>
        </div>
    </clr-modal>
</div>
