<div>
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Added {{stationData?.name}} as a monitored Station.
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                {{stationData?.name}} could not be added as a monitored Station due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{stationData?.name}}</h1>
    <ng-container *ngIf="user && user.access === 2; then banTemplate; else accessTemplate"></ng-container>
    <ng-template #banTemplate>
        <h1>You have been Banned from the website.</h1>
        <p>Please contact the developer for further details</p>
    </ng-template>
    <ng-template #accessTemplate>
        <ng-container *ngIf="user">
            <div class="btn-group btn-primary">
                <button (click)="monitor()" class="btn btn-primary" [disabled]="true">Monitor Station</button>
            </div>
        </ng-container>
    </ng-template>
    <div class="clr-row data-description">
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>Type : </b>{{stationData?.type}}
        </div>
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>Government : </b>{{stationData?.government}}
        </div>
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>Allegiance : </b>{{stationData?.allegiance}}
        </div>
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>State : </b>{{stationData?.state}}
        </div>
    </div>
    <div class="clr-row data-description">
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>Economy : </b>{{stationData?.economy}}
        </div>
    </div>
    <div class="clr-row data-description">
        <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3">
            <b>All Economies : </b><app-station-economies-chart [stationData]="stationData"></app-station-economies-chart>
        </div>
    </div>
</div>
