<nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
        <li class="nav-item">
            <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-link nav-link nav-item">Home</button>
        </li>
        <li class="nav-item">
            <button routerLink="/system" routerLinkActive="active" class="btn btn-link nav-link nav-item">Systems</button>
        </li>
        <li class="nav-item">
            <button routerLink="/faction" routerLinkActive="active" class="btn btn-link nav-link nav-item">Factions</button>
        </li>
        <li class="nav-item">
            <button routerLink="/station" routerLinkActive="active" class="btn btn-link nav-link nav-item">Stations</button>
        </li>
    </ul>
</nav>
<div class="content-container" [ngStyle]="backgroundImage">
    <router-outlet></router-outlet>
</div>
