::ng-deep {
    .data-description {
        padding: 20px 0;
    }

    .control-width {
        width: 60px;
        min-width: 60px !important;
    }

    .date-filter {
        label, .date-container {
            margin-right: 10px;
        }
    }

    .flex-relative {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
    }
}
