<div>
    <h1>{{factionData?.name}}</h1>
    <button (click)="openFactionEditModal()" class="btn btn-primary">Edit</button>
    <app-faction-edit [(modalOpen)]="editModal" [faction]="factionData"></app-faction-edit>
    <p><b>Government : </b>{{factionData?.government}}</p>
    <p><b>Allegiance : </b>{{factionData?.allegiance}}</p>
    <table class="table">
        <thead>
            <tr>
                <th>System</th>
                <th>Influence</th>
                <th>State</th>
                <th>Pending States</th>
                <th>Recovering States</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let presence of factionData?.faction_presence">
                <td>{{presence.system_name}}</td>
                <td>{{(presence.influence * 100).toFixed(2)}}%</td>
                <td>{{presence.state}}</td>
                <td>
                    <span class="label" *ngFor="let pending of presence.pending_states" [ngClass]="{'label-info': pending.trend === 0,'label-success': pending.trend > 0,'label-danger':pending.trend < 0}">{{pending.state}}</span>
                </td>
                <td>
                    <span class="label" *ngFor="let recovering of presence.recovering_states" [ngClass]="{'label-info': recovering.trend === 0,'label-success': recovering.trend > 0,'label-danger':recovering.trend < 0}">{{recovering.state}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card">
        <div class="card-block">
            <div class="card-title">
                Last 10 Days
            </div>
            <div class="card-text" *ngIf="factionData !== undefined">
                <app-faction-chart [factionData]="factionData"></app-faction-chart>
            </div>
        </div>
    </div>
</div>
