<div>
    <h1>Factions</h1>
    <h4>Filter Faction</h4>
    <form clrForm [formGroup]="factionForm" novalidate>
        <clr-input-container>
            <label for="factionName">Faction Name</label>
            <input clrInput type="text" id="factionName" placeholder="Knights of Karma" formControlName="factionName">
        </clr-input-container>
    </form>
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
        <clr-dg-column>Faction Name</clr-dg-column>
        <clr-dg-column>Faction Government</clr-dg-column>
        <clr-dg-column>Allegiance</clr-dg-column>

        <clr-dg-placeholder>Unable to find any Factions!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let faction of factionData">
            <clr-dg-cell><a routerLink="/faction/{{faction.id}}">{{faction.name}}</a></clr-dg-cell>
            <clr-dg-cell>{{faction.government}}</clr-dg-cell>
            <clr-dg-cell>{{faction.allegiance}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{totalRecords}} factions
            <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecords"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>
