<clr-main-container>
    <clr-header>
        <div class="branding">
            <a routerLink="/">
                <span class="clr-icon elitebgs-logo"></span>
                <span class="title">Elite BGS</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a routerLink="/api/eddb" routerLinkActive="active" class="nav-link"><span class="nav-text">EDDB API</span></a>
            <a routerLink="/api/ebgs" routerLinkActive="active" class="nav-link"><span class="nav-text">Elite BGS API</span></a>
            <a routerLink="/bgsbot" routerLinkActive="active" class="nav-link"><span class="nav-text">BGSBot</span></a>
        </div>
        <div class="header-actions">
            <a routerLink="/tick" routerLinkActive="active" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right nav-link tick-link">
                <div class="tick">
                    <clr-icon shape="clock"></clr-icon>
                    <span class="nav-text tick-time">{{tick.time}}</span>
                </div>
                <span class="tooltip-content">Last Tick (UTC)</span>
            </a>
            <a class="nav-icon nav-link theme-selector" (click)="switchTheme()">
                <clr-icon shape="sun" *ngIf="getThemeName() === 'dark'"></clr-icon>
                <clr-icon shape="moon" *ngIf="getThemeName() === 'light'"></clr-icon>
            </a>
            <a *ngIf="!breakpointTriggered" routerLink="/donate" routerLinkActive="active" class="nav-link"><span class="nav-text">Support
                    Elite BGS</span></a>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="cog" *ngIf="!isAuthenticated && isAuthenticated !== undefined"></clr-icon>
                    <img [src]="'https://cdn.discordapp.com/avatars/' + user?.id + '/' + user?.avatar + '.png'" class="profile-icon"
                        *ngIf="isAuthenticated && isAuthenticated !== undefined">
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a routerLink="/" clrDropdownItem *ngIf="!isAuthenticated && isAuthenticated !== undefined">Login</a>
                    <a routerLink="/admin" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined && user?.access === 0">Admin</a>
                    <a routerLink="/profile" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined">Profile</a>
                    <a href="/auth/logout" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined">Log
                        out</a>
                    <a routerLink="/guide" clrDropdownItem>Guide</a>
                    <a routerLink="/credits" clrDropdownItem>Credits</a>
                    <a *ngIf="breakpointTriggered" routerLink="/donate" clrDropdownItem>Support Elite BGS</a>
                    <a routerLink="/about" clrDropdownItem>About</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <router-outlet>
    </router-outlet>
</clr-main-container>
