.elitebgs-logo {
    background-image: url('../BGSv1.svg');
}

.main-container {
    min-height: 100vh;
    height: initial;
}

.datagrid-filter {
    margin-left: 100px;
}

// .header-nav.clr-nav-level-1 {
//     background-color: #222;
// }

// .header-nav.clr-nav-level-1 .nav-link.active {
//     background-color: #555;
// }
