.elitebgs-logo {
    background-image: url('../BGSv1.svg');
}

.main-container {
    min-height: 100vh;
    height: initial;
}

.main-container.open-hamburger-menu .header .header-nav.clr-nav-level-1 {
    background-color: #076;
}
