<clr-main-container>
    <clr-header>
        <div class="branding">
            <a routerLink="/">
                <span class="clr-icon elitebgs-logo"></span>
                <span class="title">Elite BGS</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
                <a routerLink="/api/eddb" routerLinkActive="active" class="nav-link"><span class="nav-text">EDDB API</span></a>
                <a routerLink="/api/ebgs" routerLinkActive="active" class="nav-link"><span class="nav-text">Elite BGS API</span></a>
                <a routerLink="/bgsbot" routerLinkActive="active" class="nav-link"><span class="nav-text">BGSBot</span></a>
            </div>
        <div class="header-actions">
            <a class="nav-icon nav-link" (click)="tickModal = !tickModal">
                <clr-icon shape="clock"></clr-icon>
            </a>
            <table class="tick">
                <tr>
                    <td>Sol</td>
                    <td>{{galacticTick.sol_start}}</td>
                    <td>{{galacticTick.sol_end}}</td>
                </tr>
                <tr>
                    <td>Colonia</td>
                    <td>{{galacticTick.colonia_start}}</td>
                    <td>{{galacticTick.colonia_end}}</td>
                </tr>
            </table>
            <a class="nav-icon nav-link" (click)="switchTheme()">
                <clr-icon shape="sun" *ngIf="getThemeName() === 'dark'"></clr-icon>
                <clr-icon shape="moon" *ngIf="getThemeName() === 'light'"></clr-icon>
            </a>
            <a routerLink="/donate" routerLinkActive="active" class="nav-link"><span class="nav-text">Support Us</span></a>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="cog" *ngIf="!isAuthenticated && isAuthenticated !== undefined"></clr-icon>
                    <img [src]="'https://cdn.discordapp.com/avatars/' + user?.id + '/' + user?.avatar + '.png'" class="profile-icon" *ngIf="isAuthenticated && isAuthenticated !== undefined">
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a routerLink="/" clrDropdownItem *ngIf="!isAuthenticated && isAuthenticated !== undefined">Login</a>
                    <a routerLink="/admin" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined && user?.access === 0">Admin</a>
                    <a routerLink="/profile" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined">Profile</a>
                    <a href="/auth/logout" clrDropdownItem *ngIf="isAuthenticated && isAuthenticated !== undefined">Log out</a>
                    <a routerLink="/guide" clrDropdownItem>Guide</a>
                    <a routerLink="/credits" clrDropdownItem>Credits</a>
                    <a routerLink="/about" clrDropdownItem>About</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <clr-modal [(clrModalOpen)]="tickModal">
        <h3 class="modal-title">Tick Detector</h3>
        <div class="modal-body">
            <ul>
                <li>Provides an estimate of the tick times.</li>
                <li>Calculates the 2 bubbles seperately</li>
                <li>Read as start time and end time of tick</li>
                <li>Individual system's tick times are recorded in the systems page</li>
            </ul>
        </div>
    </clr-modal>
    <router-outlet>
    </router-outlet>
</clr-main-container>
