<nav class="subnav">
    <clr-tabs (clrTabsCurrentTabIndexChanged)="onTabIndexChanged($event)">
        <clr-tab-link>Systems</clr-tab-link>
        <clr-tab-link>Factions</clr-tab-link>
    </clr-tabs>
</nav>
<div class="content-container">
    <div class="content-area">
        <section *ngIf="systemActive">
            <app-system-list></app-system-list>
        </section>
        <section *ngIf="factionActive">
            <app-faction-list></app-faction-list>
        </section>
    </div>
</div>
