<div class="mat-app-background eddb-api-container" [class.dark-theme]="isDarkTheme" [class.light-theme]="isLightTheme">
    <md-toolbar color="primary">
        {{title}}
        <span class="app-toolbar-filler"></span>
        <button md-raised-button (click)="onClickThemeSwitch()">Switch to {{switchTheme}} theme</button>
        <a md-button routerLink="./api/eddb">EDDB API</a>
    </md-toolbar>
    <div class="normal-body">
        <h1 class="normal-text">Coming Soon...</h1>
    </div>
</div>
