<div>
    <h1>Systems</h1>
    <h4>Filter System</h4>
    <form clrForm [formGroup]="systemForm" novalidate>
        <clr-input-container>
            <label for="systemName">System Name</label>
            <input clrInput type="text" id="systemName" placeholder="Qa'wakana" formControlName="systemName">
        </clr-input-container>
    </form>
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
        <clr-dg-column>System Name</clr-dg-column>
        <clr-dg-column>System Government</clr-dg-column>
        <clr-dg-column>Allegiance</clr-dg-column>
        <clr-dg-column>Primary Economy</clr-dg-column>
        <clr-dg-column>Secondary Economy</clr-dg-column>
        <clr-dg-column>State</clr-dg-column>

        <clr-dg-placeholder>Unable to find any systems!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let system of systemData">
            <clr-dg-cell><a routerLink="/system/{{system.id}}">{{system.name}}</a></clr-dg-cell>
            <clr-dg-cell>{{system.government}}</clr-dg-cell>
            <clr-dg-cell>{{system.allegiance}}</clr-dg-cell>
            <clr-dg-cell>{{system.primary_economy}}</clr-dg-cell>
            <clr-dg-cell>{{system.secondary_economy}}</clr-dg-cell>
            <clr-dg-cell>{{system.state}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{totalRecords}} systems
            <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecords"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>
