<div>
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Added {{systemData?.name}} as a monitored System.
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                {{systemData?.name}} could not be added as a monitored System due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{systemData?.name}}</h1>
    <ng-container *ngIf="user && user.access === 2; then banTemplate; else accessTemplate"></ng-container>
    <ng-template #banTemplate>
        <h1>You have been Banned from the website.</h1>
        <p>Please contact the developer for further details</p>
    </ng-template>
    <ng-template #accessTemplate>
        <ng-container *ngIf="user">
            <div class="btn-group btn-primary">
                <button (click)="monitor()" class="btn btn-primary" [disabled]="!isAuthenticated || isAuthenticated === undefined">Monitor System</button>
                <button (click)="openSystemEditModal()" class="btn btn-primary" [disabled]="!editAllowed || editAllowed === undefined">Edit</button>
            </div>
            <app-system-edit [(modalOpen)]="editModal" [system]="systemData" *ngIf="editAllowed && editAllowed !== undefined"></app-system-edit>
        </ng-container>
    </ng-template>
    <p><b>Government : </b>{{systemData?.government}}</p>
    <p><b>Allegiance : </b>{{systemData?.allegiance}}</p>
    <p><b>Economy : </b>{{systemData?.primary_economy}}</p>
    <p><b>State : </b>{{systemData?.state}}</p>
    <p><b>Security : </b>{{systemData?.security}}</p>
    <clr-datagrid>
        <clr-dg-column [clrDgField]="'name'">Faction Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'influence'">Influence</clr-dg-column>
        <clr-dg-column [clrDgField]="'state'">State</clr-dg-column>
        <clr-dg-column>Pending States</clr-dg-column>
        <clr-dg-column>Recovering States</clr-dg-column>

        <clr-dg-placeholder>Unable to fetch data for system</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let faction of systemData?.factions">
            <clr-dg-cell><a routerLink="/faction/{{faction.faction_id}}">{{faction.name}}</a></clr-dg-cell>
            <clr-dg-cell>{{(faction.influence * 100).toFixed(2)}}%</clr-dg-cell>
            <clr-dg-cell>{{faction.state}}</clr-dg-cell>
            <clr-dg-cell>
                <span class="label" *ngFor="let pending of faction.pending_states" [ngClass]="{'label-info': pending.trend === 0,'label-success': pending.trend > 0,'label-danger':pending.trend < 0}">{{pending.state}}</span>
            </clr-dg-cell>
            <clr-dg-cell>
                <span class="label" *ngFor="let recovering of faction.recovering_states" [ngClass]="{'label-info': recovering.trend === 0,'label-success': recovering.trend > 0,'label-danger':recovering.trend < 0}">{{recovering.state}}</span>
            </clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
    <div class="card">
        <div class="card-block">
            <div class="card-title">
                Last 10 Days
            </div>
            <div class="card-text" *ngIf="systemData !== undefined">
                <app-system-chart [systemData]="systemData"></app-system-chart>
            </div>
        </div>
    </div>
</div>
