@import '~highcharts/css/highcharts.scss';
$extra-colors: #3ab795 #bce784 #ee6352;
$all-colors: join($colors, $extra-colors);
@for $i from 1 through length($all-colors) {
    $color: nth($all-colors, $i);
     :host ::ng-deep .highcharts-series-#{$i - 1} .highcharts-point {
        fill: $color;
        stroke: $color;
    }
}
