<div class="content-area">
    <h1>Tick</h1>
    <div class="date-filter">
        <h3>Date Filter</h3>
        <label>From</label>
        <input type="date" [clrDate]="fromDateFilter" (clrDateChange)="fromDateChange($event)">
        <label>To</label>
        <input type="date" [clrDate]="toDateFilter" (clrDateChange)="toDateChange($event)">
    </div>
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-column>Tick At (UTC)</clr-dg-column>
        <clr-dg-column>Tick At (Local)</clr-dg-column>
        <clr-dg-column>Last Updated At (UTC)</clr-dg-column>

        <clr-dg-placeholder>Unable to find any Ticks!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let tick of tickFormatted">
            <clr-dg-cell>{{tick.time}}</clr-dg-cell>
            <clr-dg-cell>{{tick.timeLocal}}</clr-dg-cell>
            <clr-dg-cell>{{tick.updated_at}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{totalRecords}} ticks
            <clr-dg-pagination #pagination [clrDgTotalItems]="totalRecords"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
    <div class="card">
        <div class="card-block">
            <div class="card-title">
                Last {{daysGap}} Days
            </div>
            <div class="card-text" *ngIf="ticks !== undefined">
                <app-tick-chart [tickData]="ticks"></app-tick-chart>
            </div>
        </div>
    </div>
</div>
