<div class="content-area">
    <h1>Support Elite BGS</h1>
    <p>
        Hi,
        <br> Thank you for showing interest in Elite BGS. Looking forward to suggestions and feedback. But as you might know,
        running this website is a costly process. If you like my work, please consider making a donation through the following
        channels.
    </p>
    <div class="row">
        <div class="col-xs-6">
            <a href="https://www.patreon.com/bePatron?u=6593507" class="patreon-button"></a>
        </div>
        <div class="col-xs-6">
            <a href="https://www.paypal.me/SayakMukhopadhyay" class="paypal-button"></a>
        </div>
    </div>
    <p>
        Please make sure to leave message with your registered email id so that I can find my benefactors easily.
    </p>
    <h3>Patrons</h3>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Patron Since</th>
                <th>Patronage Tier</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patron of patrons">
                <td>{{patron.username}}</td>
                <td>{{patron.since}}</td>
                <td>{{patron.level}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Donors</h3>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Donated On</th>
                <th>Donation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let donor of donors">
                <td>{{donor.username}}</td>
                <td>{{donor.date}}</td>
                <td>$ {{donor.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
