<div class="profile-header">
    <div class="profile-image">
        <img [src]="'https://cdn.discordapp.com/avatars/' + user?.id + '/' + user?.avatar + '.png'" class="profile-icon" *ngIf="isAuthenticated && isAuthenticated !== undefined">
    </div>
    <div class="profile-name">
        {{user?.username}}#{{user?.discriminator}}
    </div>
</div>
<div class="content-area">
    <div>
        Email: {{user?.email}}
        <a class="btn btn-primary" href="/auth/discord/email" *ngIf="isAuthenticated && isAuthenticated !== undefined && user.email === undefined">Fetch Email</a>
        <a class="btn btn-primary" href="/auth/discord/guilds" *ngIf="isAuthenticated && isAuthenticated !== undefined && user.guilds.length === 0">Fetch Guilds</a>
        <a class="btn btn-primary" href="/auth/discord/guilds" *ngIf="isAuthenticated && isAuthenticated !== undefined && user.guilds.length !== 0">Sync Guilds</a>
        <a class="btn btn-primary" href="/profile/report" *ngIf="isAuthenticated && isAuthenticated !== undefined">Detailed User Report</a>
        <a *ngIf="!user?.invite_used" class="btn btn-primary" [href]="'https://discord.gg/' + user?.invite">Join Discord Server</a>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
            <h3>Monitored Factions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Factions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let faction of user?.factions">
                        <td>{{faction.name}}</td>
                        <td>
                            <button (click)="removeFaction(faction.name)" class="btn btn-danger btn-icon">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
            <h3>Monitored Systems</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Systems</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let system of user?.systems">
                        <td>{{system.name}}</td>
                        <td>
                            <button (click)="removeSystem(system.name)" class="btn btn-danger btn-icon">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Factions with Edit Access</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Factions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let faction of user?.editable_factions">
                        <td>{{faction.name}}</td>
                        <td>
                            <button (click)="removeEditableFaction(faction.name)" class="btn btn-danger btn-icon">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button (click)="deleteAccount()" class="btn btn-danger btn-icon">
        <clr-icon shape="trash"></clr-icon>
        Delete Account
    </button>
    <clr-modal [(clrModalOpen)]="warningModal" [clrModalStaticBackdrop]="'true'">
        <h3 class="modal-title">Confirm Deletion</h3>
        <div class="modal-body">
            <p>{{warningText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeWarningModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="deleteConfirmed()">Delete</button>
        </div>
    </clr-modal>
</div>
