<div class="content-area">
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Updated your details
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Your details could not be updated due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{userUnderEdit?.username}}#{{userUnderEdit?.discriminator}}</h1>
    <img [src]="'https://cdn.discordapp.com/avatars/' + userUnderEdit?.id + '/' + userUnderEdit?.avatar + '.png'" class="profile-icon">
    <button class="btn btn-warning" (click)="deleteAvatar()">Delete Avatar</button>
    <form #userForm="ngForm" class="form">
        <section class="form-block">
            <label>Restricted Data</label>
            <div class="form-group">
                <label>Discord id</label>
                <input id="discordid" name="discordid" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.id" disabled>
            </div>
            <div class="form-group">
                <label>Discord Username</label>
                <input id="username" name="username" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.username" disabled>
            </div>
            <div class="form-group">
                <label>Discord Discriminator</label>
                <input id="discriminator" name="discriminator" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.discriminator" disabled>
            </div>
        </section>
        <section class="form-block">
            <label>Personalised Data</label>
            <div class="form-group">
                <label>Monitored Factions</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Factions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let faction of userUnderEdit?.factions">
                            <td>{{faction.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label>Monitored Systems</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Systems</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let system of userUnderEdit?.systems">
                            <td>{{system.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="form-block">
            <label>Contribution Data</label>
            <div class="form-group">
                <label>Commits Made</label>
                <input id="commits" name="commits" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.os_contribution" disabled>
            </div>
            <button class="btn btn-warning" (click)="deleteContribution()">Delete Contributions</button>
            <div class="form-group">
                <label>Patronage</label>
                <input id="level" name="level" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.level" disabled>
                <input id="since" name="since" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.since" disabled>
            </div>
            <button class="btn btn-warning" (click)="deletePatronage()">Delete Patronage</button>
            <div class="form-group">
                <label>Donations</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of userUnderEdit?.donation">
                            <td>{{donation._id}}</td>
                            <td>{{donation.amount}}</td>
                            <td>{{donation.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-warning" (click)="deleteDonations()">Delete Donations</button>
        </section>
    </form>
    <button class="btn btn-success" (click)="save()">Save</button>
    <button class="btn btn-warning-outline" (click)="reset()">Reset</button>
    <clr-modal [(clrModalOpen)]="warningModal" [clrModalStaticBackdrop]="'true'">
        <h3 class="modal-title">{{warningTitle}}</h3>
        <div class="modal-body">
            <p>{{warningText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeWarningModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="warningConfirmed()">{{warningProceed}}</button>
        </div>
    </clr-modal>
</div>
