<div class="content-area">
    <clr-alert [clrAlertType]="'alert-success'" [clrAlertClosable]="false" [clrAlertClosed]="!successAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Updated your details
            </span>
        </div>
    </clr-alert>
    <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertClosed]="!failureAlertState">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
                Your details could not be updated due to some error.
            </span>
        </div>
    </clr-alert>
    <h1>{{userUnderEdit?.username}}#{{userUnderEdit?.discriminator}}</h1>
    <img [src]="'https://cdn.discordapp.com/avatars/' + userUnderEdit?.id + '/' + userUnderEdit?.avatar + '.png'" class="profile-icon">
    <button class="btn btn-warning" (click)="deleteAvatar()">Delete Avatar</button>
    <form clrForm>
        <h4>Restricted Data</h4>
        <clr-input-container>
            <label>Discord id</label>
            <input clrInput id="discordid" name="discordid" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.id"
                disabled>
        </clr-input-container>
        <clr-input-container>
            <label>Discord Username</label>
            <input clrInput id="username" name="username" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.username"
                disabled>
        </clr-input-container>
        <clr-input-container>
            <label>Discord Discriminator</label>
            <input clrInput id="discriminator" name="discriminator" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.discriminator"
                disabled>
        </clr-input-container>
        <h4>Personalised Data</h4>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Monitored Factions</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Factions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let faction of userUnderEdit?.factions">
                            <td>{{faction.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Monitored Systems</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Systems</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let system of userUnderEdit?.systems">
                            <td>{{system.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4>Contribution Data</h4>
        <clr-input-container>
            <label>Commits Made</label>
            <input clrInput id="commits" name="commits" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.os_contribution"
                disabled>
        </clr-input-container>
        <button class="btn btn-warning" (click)="deleteContribution()">Delete Contributions</button>
        <clr-input-container>
            <label>Patronage</label>
            <input clrInput id="level" name="level" type="number" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.level"
                disabled>
            <input clrInput id="since" name="since" type="text" [(ngModel)]="userUnderEdit && userUnderEdit.patronage && userUnderEdit.patronage.since"
                disabled>
        </clr-input-container>
        <button class="btn btn-warning" (click)="deletePatronage()">Delete Patronage</button>
        <div class="clr-form-control clr-row">
            <label class="clr-control-label">Donations</label>
            <div class="clr-control-container clr-col-12 clr-col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of userUnderEdit?.donation">
                            <td>{{donation._id}}</td>
                            <td>{{donation.amount}}</td>
                            <td>{{donation.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-warning" (click)="deleteDonations()">Delete Donations</button>
    </form>
    <button class="btn btn-success" (click)="save()">Save</button>
    <button class="btn btn-warning-outline" (click)="reset()">Reset</button>
    <clr-modal [(clrModalOpen)]="warningModal" [clrModalStaticBackdrop]="'true'">
        <h3 class="modal-title">{{warningTitle}}</h3>
        <div class="modal-body">
            <p>{{warningText}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeWarningModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="warningConfirmed()">{{warningProceed}}</button>
        </div>
    </clr-modal>
</div>
