<div class="profile-header">
    <div class="profile-image">
        <img [src]="'https://cdn.discordapp.com/avatars/' + user?.id + '/' + user?.avatar + '.png'" class="profile-icon" *ngIf="isAuthenticated && isAuthenticated !== undefined">
    </div>
    <div class="profile-name">
        {{user?.username}}#{{user?.discriminator}}
    </div>
</div>
<div class="content-area">
    <div>
        Email: {{user?.email}}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Factions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let faction of user?.factions">
                        <td>{{faction.name}}</td>
                        <td><button (click)="removeFaction(faction.name_lower)" class="btn btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Systems</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let system of user?.systems">
                            <td>{{system.name}}</td>
                            <td><button (click)="removeSystem(system.name_lower)" class="btn btn-danger">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
