@import '../node_modules/@angular/material/theming';
@include mat-core();
$light-theme-primary: mat-palette($mat-orange);
$light-theme-accent: mat-palette($mat-blue, A200, A100, A400);
$light-theme-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);
