/* You can add global styles to this file, and also import other style files */

@import './dark-theme';
@import './light-theme';
@import './app/app.theme';
@mixin custom-components-theme($theme) {
    @include app-theme($theme);
}

.dark-theme {
    @include angular-material-theme($dark-theme);
    @include custom-components-theme($dark-theme);
}

.light-theme {
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme);
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.normal-text {
    font: 500 28px/32px Roboto, "Helvetica Neue", sans-serif;
}

.normal-body {
    padding-left: 16px;
    padding-right: 16px;
}