/* You can add global styles to this file, and also import other style files */

.component {
    padding-bottom: 24px;
}

.flex {
    display: flex;
    flex: 1 1 auto;
}

iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
