.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    padding: 8% 1%;
    margin: auto;
    height: 240px;
    background-color: rgba(28, 96, 147, 0.50)
}
