.box-container {
    display: flex;
    height: 100%;
}

.login-box {
    width: 360px;
    padding: 1%;
    margin: auto;
    background-color: rgba(28, 96, 147, 0.80);
}

.login-box p,
.login-box h2 {
    color: white;
}

.login-box img {
    height: inherit;
}

.section-header {
    display: flex;
    align-items: flex-end;
}

.section-header h1 {
    flex: 1;
}

.section-header .btn {
    margin-right: 0px;
}

.card-header {
    display: flex;
    align-items: flex-end;
}

.card-header div {
    flex: 1;
    line-height: 40px;
}

.card-header a {
    margin-right: 0px;
}
